
.devnet.env
.DS_Store
.env
.sepolia.env
bun.lockb
contracts/broadcast/
contracts/cache/
contracts/out/
node_modules/
plugin/cache/
plugin/lib/
plugin/node_modules/
plugin/out/
plugin/vendored-tests/
